*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Macondo Swash Caps', cursive; */
    font-family: 'Bangers', cursive;
    color: rgb(255, 217, 0);
    text-shadow: 3px 3px 6px #000;
    background-image: url(assets/field.jpg);
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
    margin-right: 3rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

footer {
    font-family: 'Bangers', cursive;
    color: #fafafa;
    letter-spacing: 1.5px;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    text-shadow: 5px 5px 13px #000;
    transform: translateX(-50%);
}

footer span {
    font-size: 1.5rem;
}

.footer span::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ff432a;
    margin-left: 6px;
    z-index: -1;
    animation: animatedBAM 8s linear infinite;
}

@keyframes animatedBAM {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container__text {
    text-align: center;
    border-radius: 30px;
    /* background-color: rgba(70, 215, 231, 0.8); */
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px, rgb(226, 226, 226) 0px 0px 0px 6px, rgb(211, 211, 211) 0px 0px 0px 9px, rgb(181, 181, 181) 0px 0px 0px 12px, rgb(149, 149, 149) 0px 0px 0px 15px;
    height: fit-content;
    padding: 1rem;
}

.container__sun {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 20s ease;
}

.container__bangers {
    height: 300px;
}

.container__bangers img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container__speakers {
    height: 250px;
    margin-block: 100px;
    transform: rotate(15deg);
    transition: transform 0.5s ease;
    z-index: 1;
    cursor: pointer;
}

.container__speakers:hover {
    transform: rotate(20deg) scale(110%);
}

.container__speakers img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container__speakers img {
    animation: grow 5s linear infinite;
}

@keyframes grow {
    0% {
        transform: scale(100%);
    }
    50% {
        transform: scale(106%);
    }
    100% {
        transform: scale(100%);
    }
}

.container__sun {
    height: 150px;
    margin: 1rem;
}

.container__sun img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Animations */
  .container__sun:hover {
    transform: scale(500%);
  }

  .container__speaker-text {
      text-align: center;
      line-height: 0;
      transform: translateY(10px);
  }

  .container__speaker-text span {
      font-size: 3rem;
      line-height: 0.5;
      animation: oscillate 2s linear infinite;
  }

  @keyframes oscillate {
      0% {
          transform: translateY(0%);
      }
      50% {
          transform: translateY(20%);
      }
      100% {
          transform: translateY(0%);
      }
  }

  .container__speaker-text {
      font-size: 3rem;
      line-height: 0.5;
      animation: oscillateLess 2s linear infinite;
  }

  @keyframes oscillateLess {
      0% {
          transform: translateY(0%);
      }
      50% {
          transform: translateY(10%);
      }
      100% {
          transform: translateY(0%);
      }
  }
